.body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.chasis{
  display: flex;
  flex-direction: column;
  background-color: yellow;
  width: 400px;
  height: 640px;
  border-radius: 16px 16px 32px 32px;
  position: relative;
}
.contenedorpantalla{
  margin: 20px 20px 16px;
  display: flex;
  flex-direction: column;
}
.bordepantalla{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  width: 360px;
  height: 296px;
  border-radius: 8px 8px 16px 16px;
}
.pantalla{
  display: flex;
  justify-content: center;
  height: 100%;
}
.display{
  margin-top: 40px;
  position: relative;
  width: 240px;
  height: 216px;
  background-color: grey;
}
.borderedondo{
  display: flex;
  justify-content: center;
}
.borderedondopantalla{
  margin-top: 16px;
  background-color: black;
  height: 45.5px;
  width: 570px;
  border-radius: 40%;
  display: inline-block;
}
.nombre{
  display: flex;
  justify-content: center;
  height: 100%;
}
.logo{
  position: relative;
  height: 32px;
}
.contenedorinferior{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.botonessup{
  display: flex;
  height: 35%;
}
.pad{
  position: relative;
  display: flex;
  margin-right: 88px;
  margin-top: 32px;
}
.botones{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 160px;
  width: 160px;
}
.btnB{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 48px;
  margin-top: 35.2px;
}
.B{
  display: flex;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.btnA{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 48px;
}
.A{
  display: flex;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.slctstrt{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 32px;
  width: 160px;
  margin-top: 64px;
}
.contselect{
  display: flex;
  justify-content: center;
  background-color: black;
  height: 9.6px;
  width: 32px;
  border-radius: 16px 16px;
  margin: 8px;
}
.contstart{
  display: flex;
  justify-content: center;
  background-color: black;
  height: 9.6px;
  width: 32px;
  border-radius: 16px 16px;
  margin: 8px;
}
.chasiscircunfinf{
  display: inline-block;
  margin-top: 35.2px;
  background-color: yellow;
  height: 55.5px;
  width: 370px;
  border-radius: 50%;
}